[core]
  editor = vim
	excludesfile = /Users/hosokawa/.gitignore_global
  precomposeunicode = true
  quotepath = true

[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto

[user]
	name = td72
	email = teledx72@gmail.com

[ghq]
    root = ~/src

[alias]
    lg = ! git log --graph --decorate --color | emojify | less -r
    exec = !sh -c 'exec "$@"' $(which sh)
    s = status
    a = add
    ap = add -p
    d = diff
    dc = diff --cached
    dh = diff HEAD
    dhh = diff HEAD^
    am = commit --amend
